* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(255, 217, 45);
}

.notifications {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    color: white;
    text-align: center;
    background-color: black;
    z-index: 2
}

.timedout {
    display: none;
}