.field, .actions {
    margin-bottom: 10px;
}

#user_email, #user_password,
#user_password_confirmation {
    width: 200px;
}

.links_component {
    text-align: center;
}

.style_devise {
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;

    &__wrapper {
        width: 400px;
        height: 320px;

        h2 {
            font-size: 20px;
        }
    }
}