<h1>テスト</h1>

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 10(toggle/ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<input type="button" id="change" value="変更前">
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 9(ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<%
=begin%>
 <h2 id="index">目次</h1>
<ul>
  <li><a href="#1">sample1</a></li>
  <li><a href="#2">sample2</a></li>
  <li><a href="#3">sample3</a></li>
  <li><a href="#4">sample4</a></li>
</ul>
<div id="1">
  <h2>sample1</h2>
  <a class="button" href="#index">Topへ</a>
</div>
<div id="2">
  <h2>sample2</h2>
  <a class="button" href="#index">Topへ</a>
</div>
<div id="3">
  <h2>sample3</h2>
  <a class="button" href="#index">Topへ</a>
  </div>
<div id="4">
  <h2>sample4</h2>
  <a class="button" href="#index">Topへ</a>
</div> 
<%
=end%>

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー ( / shoppint_search.js(商品名検索フォーム) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<%
=begin%>
 
 <input id="#sample_word" placeholder="keyword" type="text">
<div id="sample_area">
  <div class="sample_part">
    <h3>サンプルテキスト</h3>
    <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
  </div>
  <div class="sample_part">
    <h3>サンプルテキスト</h3>
    <p>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストkajaa</p>
  </div>
</div>  
<%
=end%>

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 8(ok / data属性 js修正 → HTML へ渡す) ーーーーーーーーーーーーーーーーーーーーー -->

<!-- <div id="kajaa" data-yassa="kazu">push</div> -->

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 7(ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

<!-- <div id="kajaa" data-yassa="k"></div> -->

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 6(ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- <style>
  .sample, .kajaa{
    text-align: center;
  }
</style>
<input class="sample" data-ka=".kajaa" value="7" >
<input class="kajaa" value="2"> -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 5(ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

<!-- <table border="1" >
  <tr>
    <th>name</th>
    <td id="td">0 </td>
  </tr>
</table> -->

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

<!-- <h1 id="h">変更前</h1>
<input type="button" value="押してね♡" id="push"> -->


<!-- <div id="ka">aaa</div> -->

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 1(ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

 <!-- <input type="text" placeholder="入力してください" id="str">  -->


<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 2(ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

<!-- <input type="text" class="target" placeholder="0">
<input type="text" class="target" placeholder="1">
<input type="text" class="target" placeholder="2">  -->

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 3(ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

<%
=begin%>
 <div id="parent" class="parent-item" >
  <div id="child" class="child-item" >
  </div>
</div> 
<%
=end%>

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<%= javascript_pack_tag "practice.js" %>
<%= javascript_pack_tag "shopping_search.js" %>