<%#
<h1 id="h">変更前</h1>
<input type="button" value="押してね♡" id="push">
%>

<!-- <div id="ka">aaa</div> -->

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

<!-- <input type="text" placeholder="入力してください" id="str"> -->

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

<input type="text" class="target" placehoder="0">
<input type="text" class="target" placehoder="1">
<input type="text" class="target" placehoder="2">

<%= javascript_pack_tag "practice.js" %>