<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 6() ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<style>
  .sample, .kajaa{
    text-align: center;
  }
</style>
<input class="sample" data-ka=".kajaa" value="7" >
<input class="kajaa" value="2">
<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 5(ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

<!-- <table border="1" >
  <tr>
    <th>name</th>
    <td id="td">0 </td>
  </tr>
</table> -->

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

<!-- <h1 id="h">変更前</h1>
<input type="button" value="押してね♡" id="push"> -->


<!-- <div id="ka">aaa</div> -->

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 1(ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

 <!-- <input type="text" placeholder="入力してください" id="str">  -->


<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 2(ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

<!-- <input type="text" class="target" placeholder="0">
<input type="text" class="target" placeholder="1">
<input type="text" class="target" placeholder="2">  -->

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 3(ok) ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->

<%
=begin%>
 <div id="parent" class="parent-item" >
  <div id="child" class="child-item" >
  </div>
</div> 
<%
=end%>

<!-- ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー -->
<%= javascript_pack_tag "practice.js" %>