    // 商品名 + 個数(更新)
    .index_td, .amount {
      text-align: center;
      white-space: nowrap;
    }
  
    // 個数(更新)
    .amount {
      font-size: 16px;
      width: 70px;
    }
  
    // マウスポインターの変更
    input[type="button"],input[type="submit"]{
      cursor: pointer;
    }
  
    // 削除
    #delete > a {
      color: black;
    }
  
    // リセット
  .reset, .amount {
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: darkblue;
  }
  
  .aft_rst {
    color: red;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
  }
  
  
  .aft_counter {
    background-color: white;
    color: black;
    font-weight: bold;
  }
  
  
  .daiso, .aft_daiso {
    color: black;
    font-weight: bold;
  }
  
  
  .aft_daiso {
    background-color: lightblue;
  }
  
  
  // お会計
  #bill_sp {
    color: blue;
    font-size: 17px;
    -webkit-text-stroke: 0.3px black;
  }

  // container
.container {
  position: relative;
  margin-top: 95px;

  &__form {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

    &__tag {
      width: 80%;
      display: flex;
      justify-content: space-evenly;

      &__element {
        
        &__error {
          display: block;
          font-size: 12px;
          font-weight: bold;
          color: tomato;
        }
      }

      &__item, &__value, &__number {
        display: inline-block;
  
        & > input {
          width: 200px;
          text-align: center;
        }
      }
  
      &__send {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  &__total_wrap {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    &__tbl {
      width: 50%;
      background-color: rgb(255, 149, 149);

      &__total_td {
        width: 70%;
        text-align: center;
        font-size: 20px;
      }
    }

    // &__updatesend {
    //   position: absolute;
    //   top: 5px;
    //   right: 20%;
    // }
  }

  &__index {
    width: 100%;
    margin-top: 100px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;

    &__index_tbl {
      font-size: 16px;
      background-color: rgb(255, 149, 149);

      &__index_th {

        &__value {
          text-align: center;
        }
      }
    }

    &__bill_tbl {
      position: fixed;
      right: 15%;
      font-weight: bold;
      background-color: rgb(255, 149, 149);
    }
    @media screen and (max-width: 1049px) {
      &__bill_tbl {
        right: 10%;
      }
    }
  }
}