// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.form_div {
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 20px;
}

ul {
  font-size: 15px;
  position: relative;
  top: 100px;
  color: rgb(26, 1, 255)
}

// total
#total_div {
  position: relative;
  top: 100px;
  left: 10%;
}
.total_th {
  width: 20%;
}
.total_td {
  width: 80%;
  text-align: center;
  color: hsl(0, 100%, 50%);
  font-size: 20px;
}
#total_tbl {
  width: 40%;
}
// total

// index
#index_div {
  position: relative;
  top: 180px;
  left: 15%;
}
#index_tbl {
  width: 50%;
}
.index_th {
  width: 10%;
}
.index_td {
  text-align: center;
  color: rgb(0, 21, 209);
}
// index

// spinnerBUTTUN(+ -)
// .btnspinner{
//   -ms-user-select: none;
//   -moz-user-select: -moz-none;
//   -khtml-user-select: none;
//   -webkit-user-select: none;
//   user-select: none;
// }

// .spinner_area input{
//   padding: 11px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   font-size: 18px;
//   width: auto;
//   vertical-align: middle;
//   /* デフォルトのスピナーを消す */
//   -webkit-appearance: none;
//   -moz-appearance:textfield;
// }

// .spinner_area input[type="button"]{
//   cursor: pointer;
// }



// .box {
//   width: 100px;
//   height: 100px;
//   background-color: skyblue;
//   cursor: pointer;
//   transition: 0.8s;
// }

// .circle {
//   background: pink;
//   border-radius: 50%;
//   transform: rotate(360deg);
// }