// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
  background-color: rgb(255, 217, 45);
}

header {
  position: relative;
  top: 20px;
}

// shopping memo ロゴ
h1 {
  width: 320px;
  height: 50px;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  background-color: black;
  border-radius: 55%;
}

hr {
 width: 80%;
 height: 1px;
 border: none;
 position: absolute;
 top: 70px;
 left: 50%;
 transform: translate(-50%, 0);
 background-color: black;
}

#container {
  position: relative;
  top: 90px;
  height: 500px;
}

// 入力フォーム
#form {
  font-size: 20px;
  font-weight: bold;
  margin: 100px 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
}

// 合計額(ラベル) + 合計額
#total {
  // color: white;
  width: 30%;
  position: absolute;
  top: 160px;
  margin: 20px 35%;
  background-color: rgb(255, 149, 149);
  white-space: nowrap;
}

// 合計額
#total_td {
  width: 80%;
  text-align: center;
  font-size: 20px;
}

// 登録一覧
#index_tbl {
  // color: white;
  font-size: 16px;
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(255, 149, 149);
  white-space: nowrap;
}

// 個数入力
.index_number_td > input[type="number"] {
  font-size: 16px;
}

// 商品名 + 個数
.index_td, .amount {
  text-align: center;
}

// 更新（送信）
#updatesend {
  position: absolute;
  top: 190px;
  left: 66%;
}

// 削除
#delete > a {
  color: black;
}

// input(text-type) のスピナーボタンを消す。
 input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// マウスポインターの変更
input[type="button"],input[type="submit"]{
  cursor: pointer;
}









//以下テスト。
// .box {
//   width: 100px;
//   height: 100px;
//   background-color: skyblue;
//   cursor: pointer;
//   transition: 0.8s;
//   margin: 0 8px 8px 0;
//   text-align: center;
//   line-height: 100px;
// }
// .circle {
//   background: pink;
//   border-radius: 50%;
//   transform: rotate(360deg);
// }
//以上テスト。