// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h2 {
  text-align: center;
}

.form_div {
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  text-align: center;
}

ul {
  font-size: 15px;
  position: relative;
  top: 100px;
  color: rgb(26, 1, 255)
}

// total
#total_div {
  position: relative;
  top: 100px;
  left: 10%;
}
.total_th {
  width: 20%;
}
.total_td {
  width: 80%;
  text-align: center;
  color: hsl(0, 100%, 50%);
  font-size: 20px;
}
#total_tbl {
  width: 40%;
  float: left;
}
// total

// index
#index_div {
  clear: left;
  position: relative;
  top: 180px;
  left: 15%;
}
.index_th {
  width: 10%;
}
.index_td, .index_number_td {
  text-align: center;
  color: rgb(0, 21, 209);
}
.index_number_td, #spinner_button {
  width: 80px;
  flex-wrap: nowrap;
}
// index

// spinnerBUTTUN(+ -)
.btnspinner{
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

// スピナーボタンを消す。
 input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
// スピナーボタンを消す。


input[type="button"],input[type="submit"]{
  cursor: pointer;
}
.amount {
  width: 50px;
  text-align: center;
}
#update_form {
  position: relative;
  left: 3%;
  top: 5px;
}

// spinnerBUTTUN(+ -)

//以下テスト。
// .box {
//   width: 100px;
//   height: 100px;
//   background-color: skyblue;
//   cursor: pointer;
//   transition: 0.8s;
//   margin: 0 8px 8px 0;
//   text-align: center;
//   line-height: 100px;
// }
// .circle {
//   background: pink;
//   border-radius: 50%;
//   transform: rotate(360deg);
// }
//以上テスト。