// --------------------------------------- 1 ------------------------------------------------------------------

#str {
  margin-right: 10px;
}

// --------------------------------------- 2 ------------------------------------------------------------------

.target{
  text-align: center;
}

// --------------------------------------- 3(ok) ------------------------------------------------------------------

.parent-item {
  background-color: red;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-item {
  background-color: blue;
  width: 50%;
  height: 50%;
}

// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
// --------------------------------------- () ------------------------------------------------------------------
